{% extends 'main/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
<link href="{% static 'main/css/multistep.css' %}" rel="stylesheet" type="text/css">
<body style="background-color: #4752E8;">
  <div class="row" style="justify-content: center;margin-top:60px;">
    <div class="col-md-6" style="text-align: center;">
      <img style="width: 30%;" src="{% static 'main/img/logo-short-white.png' %}" class="img-fluid img-center" alt="logo">
    </div>
  </div>
  <form method="post" class="login-form">
    {% csrf_token %}
    <h1>Change password</h1>
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    {% else %}
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    {% endif %}
</body>
{% endblock %}
