{% extends 'main/base.html' %}
{% load static %}
{% block title %}Password Reset Link Sent{% endblock %}

{% block content %}
    <link href="{% static 'main/css/multistep.css' %}" rel="stylesheet" type="text/css">
    <body style="background-color: #4752E8;">
        <div id="faltudiv">
            <h1>Password Reset Link Sent ⛳</h1>
            <p>
              We've emailed you instructions for setting your password, if an account exists with the email you entered.
              You should receive them shortly.
            </p>
            <p>Didn't get an email yet?</p>
            <p>If you don't see an email from us in a few minutes, a few things could've happened:</p>
            <ul>
                <li><p>The email took a detour to your spam folder.</p></li>
                <li><p>The email you typed-in had a typo. (Happens to the best of us.)/p></li>
                <li><p>Accidentally gave your work or personal email instead of the one you intended.</p></li>
            </ul>
            <p>If you still haven't gotten the email though, drop us an email at cmdplusj@gmail.com and get right on it.</p>
            <p style="text-align:center;">Back to <a href="{% url 'home' %}">Home</a></p>
        </div>
    </body>
{% endblock %}
