{% extends 'main/base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<link href="{% static 'main/css/multistep.css' %}" rel="stylesheet" type="text/css">
<body style="background-color: #4752E8;">
  <div class="row" style="justify-content: center;margin-top:60px;">
    <div class="col-md-6" style="text-align: center;">
      <img style="width: 30%;" src="{% static 'main/img/logo-short-white.png' %}" class="img-fluid img-center" alt="logo">
    </div>
  </div>
  <form method="post" class="login-form">
    {% csrf_token %}
    <h1>Forgot Password</h1>
    <label for="id_email">Email:</label><p><input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email"></p>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>
</body>
{% endblock %}