
{% autoescape off %}
    Hey {{mentee.mentee_first_name}}!<br>
    <br>
    {{mentor.mentor_first_name}} just got back and we're sorry to say that they had to turn down your connection request.<br>
    
    Don't be disheartened. Sometimes mentors turn down requests when they have too much on their plate, or are swamped with too many requests. This tends to happen and is nothing to worry about. We're sure it's nothing personal!<br>
    <br>
    There are many more mentors on the platform who would be willing to hop on a call with you and help answer the many questions you might have. Your next conversation could be one click away!<br>
    <br>
    Team Command+J.<br>
{% endautoescape %}