{% autoescape off %}
Hey {{ mentee.mentee_first_name}}!<br>
<br>
Are you hyped for your call today? We know we are! We wanted to help you make the most out of it! Here's a list of best practices which will end up saving both you and the mentor a lot of time. At the end of the day, we hope you form better connections and bonds with the designers you look up to!<br>
<br>
In a nutshell, here are some of the top points to keep in mind:<br>
<br>
<ul>
    <li><strong>Punctuality is the best first Impression:</strong><br>Don't underestimate Murphy's Law! Always be prepared for anything and everything, well ahead in time.</li><br>
    <li><strong>Do your Research. Period:</strong><br>No one likes someone who is underprepared. Make sure you're not asking your mentor questions they've already publicly answered.</li><br>
    <li><strong>Prioritize your questions:</strong><br>Conversations can stretch for much longer than intended. In such cases, it's up to you to make you sure you ask the most pressing question first.</li><br>
    <li><strong>Take Notes, Not Quotes:</strong><br>Taking notes is a great way to stay attentive, indicate your interest, and record any major points that come up in the conversation for reference.</li>
</ul>
<br>
Here’s to you having fruitful discussions and achieving your goals!<br>
<br>
Team Command+J
{% endautoescape %}