{% autoescape off %}
Hey {{ mentor.mentor_first_name }}!<br>
<br>
We just wanted to check in and remind you about your call in a few hours with {{ mentee.mentee_first_name}}. We hope you have the means of the call all figured out and gauged the goal of the you conversation by now.<br>
<br>
While some mentees do have their thoughts and questions all figured out, most do not. They find themselves in a state of confusion and ambiguity, and we appreciate your patience. It might not look like it right now, but one conversation today can really help set someone on the right path to the success they hope for in life. As always, we are super grateful to you for taking your time out to help guide them.<br>
<br>
However, we understand life doesn't always go according to plan. If, for some reason, you won't be able to make it to the call, we ask that you inform the mentee and fix another time to talk to them.<br>
<br>
Here’s to you having a discussion which can potentially change someone's life!<br>
Team Command+J
{% endautoescape %}